{
    auto_https off
    admin off
}

:8080 {
    root * public
    try_files {path} /index.php

    php_server {
        worker public/index.php
        env APP_CONNECTION "pdo-sqlite:////home/runner/work/psx-test-frankenphp/psx-test-frankenphp/cache/app.db"
    }
}